h1 {
  font-size: 38px;
  font-weight: 500;
  line-height: 100px;
  margin-bottom: 20;
  color: rgb(190, 22, 78);
}

ul {
  margin: 0;
  padding: 0;
}

li::first-letter {
  text-transform: capitalize;
}

li {
  list-style: none;

  font-size: 14px;
  font-weight: 450;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 50px auto;
  background: linear-gradient(
    109.6deg,
    rgb(255, 221, 225) 11.2%,
    rgb(255, 255, 255) 92.2%
  );
}

.weather-app {
  padding: 30px;
  border: 1px solid grey;
  border-radius: 10px;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-left: 50px;
  width: 80px;
  margin-top: 10px;
  line-height: 100px;
}

.weather-temperature strong {
  color: grey;
  font-size: 70px;
  position: relative;
  left: 140px;
  top: -95px;
}

.weather-temperature small {
  color: grey;
  position: relative;
  left: 150px;
  top: -135px;
  font-size: 15px;
}

#temperature {
  color: rgb(190, 22, 78);
}

.weather-temperature .active {
  color: black;
  cursor: default;
  text-decoration: none;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.btn {
  background-color: palevioletred;
  border-color: palevioletred;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.6;
}
.weather-forecast-temperature-min {
  opacity: 0.6;
}
.weather-forecast-temperature {
  font-size: 13px;
}
